body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:501px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:798px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:126px;
  width:342px;
  height:40px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:126px;
  width:96px;
  height:40px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:197px;
  width:416px;
  height:40px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:269px;
  width:100px;
  height:16px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u36_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:257px;
  width:96px;
  height:40px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:339px;
  width:416px;
  height:40px;
  font-size:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:412px;
  word-wrap:break-word;
}
